<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="A1" fileName="debug.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %t %-5p %c{2} - %m%n"/>
        </File>
    </appenders>
    <Loggers>

        <Logger name="com.studerw.activiti" level="DEBUG" additivity="true"/>

        <Logger name="org.springframework" level="DEBUG" additivity="true"/>

        <Logger name="org.springframework.security" level="WARN" additivity="true"/>

        <Logger name="org.activiti" level="INFO" additivity="true"/>

        <!--<Logger name="yourLogger" level="debug" additivity="false">-->
        <!--<AppenderRef ref="Console" />-->
        <!--</Logger>-->

        <Root level="WARN">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="A1"/>
        </Root>
    </Loggers>
</configuration>

