<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <beans:bean id="activitiAuthenticationProvider" class="com.studerw.activiti.security.ActivitiAuthenticationProvider" />
    <http auto-config="true" use-expressions="true" disable-url-rewriting="true" >
        <session-management session-fixation-protection="newSession">
            <concurrency-control max-sessions="2" error-if-maximum-exceeded="true" />
        </session-management>

        <intercept-url pattern="/login.htm" access="permitAll" />
        <intercept-url pattern="/error" access="permitAll" />
        <intercept-url pattern="/noerror" access="permitAll" />
        <intercept-url pattern="/noerrornoview" access="permitAll" />
        <intercept-url pattern="/loginfailed.htm" access="permitAll" />
        <intercept-url pattern="/resources/**" access="permitAll" />
        <intercept-url pattern="/userRegistration.htm/**" access="permitAll" />
        <intercept-url pattern="/test.htm/**" access="permitAll" />
        <intercept-url pattern="/**" access="hasAnyRole('user, admin')" />


        <form-login login-page="/login.htm" always-use-default-target="true" default-target-url="/"
                    authentication-failure-url="/loginfailed.htm" />


    </http>


    <authentication-manager alias="authenticationManager">
        <authentication-provider ref="activitiAuthenticationProvider"/>
    </authentication-manager>

</beans:beans>
